@import './variable';
@import './common/media';
@import './common/margin';


.promo {
    margin-top: 40px;
}
.promo-container {
    width: 100%;
display: flex;
flex-direction: row;
justify-content: center;
padding: 0px 27px;

		&__img {
            margin-right: 24px;
            img {
                object-fit: cover;
                max-width: 638px;
            }
		}

		&__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                font-family: Manrope;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 28px;
                color: $title;
            }
		}

		&__text-info {
            margin-top: 16px;
            max-width: 638px;
            p {
                font-family: Manrope;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: $title;
                margin-bottom: 15px;
            }
		}
}

@include media-custom (1330px) {
    .promo-container {
        &__text-info {
            p {
                width: 100%;
            }
        }
    }
}
//1200px
@include media-laptop {
    .promo-container{
        &__text {
            h2 {
                font-size: 16px;
            }
        }
        &__text-info {
            p {
                font-size: 12px;
            }
        }
    }
}
//992px
@include media-tablet-horizontal {
    .promo-container {
        &__img {
            img {
                max-width: 336px;
            }
        }
        &__text-info {
            max-width: 336px;
        }
    }
}
//767px
@include media-tablet {
    .promo-container {
        flex-direction: column;
        align-items: center;
        &__img {
            margin-right: 0;
            img {
                max-width: 100%;
            }
        }
        &__text {
            margin-top: 24px;
        }
        &__text-info {
            max-width: 100%;
        }
    }
}
//480px
@include media-mobile {

}
//320px
@include media-mobile-small {
   
}