@import './variable';
@import './common/media';
@import './common/margin';

.slider {
}
.item {
    color: #000;
    font-size: 16px;
    margin-right: 24px;
    img {
        border-radius: 8px;
        width: 100%;
    }
    h3 {
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color:$title;
        margin-top: 16px;
    }
}

.swiper-container {
    margin: 0 auto;
    width: 96%; 
}
.slider-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    h1 {
        font-family: Manrope;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 32px;
        color: #000000;
    }
}
.slider-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 42px;
}
.swiper-button-next,
.swiper-button-prev {
    position: static;
    margin-left: 8px;
    width: 24px;
    height: 24px;
    margin-top: 0;
}
.swiper-button-next {
background-image: url(../images/svg/active.svg);
background-repeat: no-repeat;
background-position: center;
}
.swiper-button-next:hover {
    transform: translateX(4px);
}
.swiper-button-prev {
    background-image: url(../images/svg/active.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center;
}
.swiper-button-prev:hover {
    transform: translateX(4px) rotate(180deg);
}
.swiper-button-prev::after,
.swiper-button-next::after {
display: none;
}

.slider-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px;
    &__btn {
        padding: 8px 16px;
        background: #FFDD66;
        border-radius: 4px;
        
        
        a {
            text-decoration: none;
            outline: none;
            font-family: Manrope;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $title;
        }
        a:hover {
            background: none;
            color: $title;
            text-decoration: none;
            outline: none;
        }
    }
    &__btn:hover {
        border-radius: 16px;
        background: #FFE142;
        transition: background .7s;
    }
}

//1200px
@include media-laptop {
    .slider-top {
        h1 {
            margin-bottom: 24px;
        }
    }
    .slider-buttons {
        margin-bottom: 28px;
    }
}
//992px
@include media-tablet-horizontal {
    .item {
        h3 {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .slider-top {
        padding: 0px 16px;

        h1 {
            font-size: 24px;
            line-height: 32px;
        }
    }
    .slider-bottom {
        &__btn {
            
            a {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}
//768px
@include media-tablet {
    .slider-buttons {
        justify-content: center;
        margin-bottom: 0;
        margin-top: 16px;
    }
}
//320px
@include media-mobile-small {
    .slider-buttons {
        margin-top: 0;
    }
}