@import "./media";
@import "./fonts.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:active,&:focus{
        outline: none;
    }
}
body{
    background: #ffffff;
    font-family: Manrope;  
}
.wrap{
    margin: 40px 59px;
}

// <992
@include media-tablet-horizontal {
    .wrap{
        margin: 40px 35px;
    }
}
@include media-tablet {
    .wrap {
        margin: 40px 11px;
    }
}
