@import "./media";
@import "./fonts.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:active,&:focus{
        outline: none;
    }
}
body{
    background: #ffffff;
    font-family: Manrope;  
}
.wrap{
    // max-width: 1170px;
    margin: 40px 59px;
    // padding: 0 59px;
}

// <992
@include media-tablet-horizontal {
    .wrap{
        // max-width: 790px;
        margin: 40px 35px;
    }
}
@include media-tablet {
    .wrap {
        margin: 40px 11px;
    }
}
// @include media-mobile-small {
//     .wrap {
//         margin: 40px 11px;
//     }
// }